<div class="relative">
  <app-card-stats [stats]="pokemon.stats" [exp]="pokemon.base_experience"  [animation_mostrarStats]="animation_mostrarStats" ></app-card-stats>
  <div *ngIf="pokemon" class="flex w-80 mb-8 min-h-cardHeight flex-col bg-white rounded-md z-10 mt-4 shadow-2xl border-2" [@moverCard]="animation_moverCard" >
    <ng-container *ngIf="loading !== true" >
      <div class="w-full mt-4 z-20">
        <h1 class="text-4xl text-center px-4 text-white font-bold">{{capitalizarPrimeraLetra(namePokemon)}}</h1>
      </div>
      <div [style.backgroundImage]="fondoPokemon" class="absolute h-48 w-full z-0 rounded-t-md"></div>
      <div class="flex w-full justify-center mt-2">
        <div class="flex w-60 justify-center rounded-full items-center bg-white z-20" *ngIf="!loadingImg">
          <img class="w-full" *ngIf="!mostrarShiny && pokemon.sprites.front_default" 
          [src]="pokemon.sprites.other['official-artwork'].front_default"  alt="pokemon"> 
          <img *ngIf="mostrarShiny && pokemon?.sprites?.front_shiny" [src]="pokemon.sprites.other['official-artwork'].front_shiny" alt="pokemon">
          <div *ngIf="loadingImg" class="flex w-full h-56 items-center justify-center">
            <app-spinner></app-spinner>
          </div>
        </div>
      </div>
      <div class="flex w-full justify-center">
        <div class="w-3/12">
          <h1 class="text-lg text-center text-gray-400 bold-text">N.° {{pokemon.id}}</h1>
        </div>
      </div>
      <div class="flex w-full mt-2 flex-row">
        <div class="flex w-full">
          <div class="w-full" *ngFor="let types of pokemon.types" >
          <app-type-pokemon [tipo]="capitalizarPrimeraLetra(types.type.name)"></app-type-pokemon>
          </div>
        </div>
      </div>
      <div class="flex w-full mt-4">
        <div class="w-6/12">
          <div class="flex w-full justify-center ">
            <h1 class="text-center text-lg text-gray-400">Peso</h1>
          </div>
          <div class="flex w-full justify-center mt-1">
            <p class="text-lg text-gray-400">{{pokemon.weight*0.1 | number: '1.1-2'}} kg</p>
          </div>
        </div>
        <div class="flex w-6/12 flex-col justify-center mt-1">
          <div class="flex w-full justify-center ">
            <h1 class="text-center text-lg text-gray-400">Tamaño</h1>
          </div>
          <div class="flex w-full justify-center">
            <p class="text-lg text-gray-400" >{{pokemon.height*0.1 | number: '1.1-2'}} m</p>
          </div>
        </div>
      </div>
      <div class="w-full flex mt-10 mb-6">
        <div class="flex w-6/12 justify-center " *ngIf="pokemon?.sprites?.front_shiny">
          <button class="rounded-md bg-gray-300 px-2 py-1 hover:bg-gray-200 text-white" (click)="stats()"> {{textoBotonStats}} </button>
        </div>
        <div class="flex w-full justify-center " *ngIf="!pokemon?.sprites?.front_shiny">
          <button class="rounded-md bg-gray-300 px-2 py-2 hover:bg-gray-200 text-white" (click)="stats()"> {{textoBotonStats}} </button>
        </div>
        <div class="flex w-6/12 justify-center" *ngIf="pokemon?.sprites?.front_shiny">
          <button class="rounded-md bg-gray-300 px-2 py-2 hover:bg-gray-200 text-white" (click)="shiny()">{{textoBotonShiny}}</button>
        </div>
      </div>
    </ng-container>
</div>
</div>

<div class="flex w-full justify-center">
  <button class="iconRefresh bg-gray-300 rounded-full px-3 py-3 hover:bg-gray-200" (click)="newPokemon()" >
    <i class="inline-block fa-solid w-full fa-arrows-rotate fa-xl text-white"></i>
  </button>
</div>

